watchdog
python-dotenv
kafka-python
unstructured
pinecone-client
haystack-ai==2.2.4
haystack-experimental==0.1.0
sentence-transformers==3.0.1 
transformers==4.42.3 
gradio==4.37.2
farm-haystack[inference]
unstructured[pdf]
sentence-transformers
pandas
setuptools
torch
tensorflow
quantulum3

# Additional dependencies for document parsing:
pdf2image 
python-docx
python-pptx

# For OCR support:
tesseract
poppler-utils